# =========================================
# PYTHON
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# VENV
# =========================================

venv/
env/

# =========================================
# JUPYTER
# =========================================

.ipynb_checkpoints/

# =========================================
# DATASETS
# =========================================

dataset/

# =========================================
# OUTPUTS
# =========================================

outputs/

# =========================================
# MODELS
# =========================================

*.pth
*.pt
*.onnx

# =========================================
# NODE
# =========================================

node_modules/

# =========================================
# ENV
# =========================================

.env

# =========================================
# VSCODE
# =========================================

.vscode/

# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db

.gradio/